body {
    margin: 0;
}

h1 {
    width: fit-content;
    margin: auto;
}

.caixa {
    border-radius: 5px;
}

.pai {
    width: 80%;
    height: 400px;
    margin: auto;
    background-color: antiquewhite;
    border: solid 2px black;

    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
}

.filho {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.circulo1 {
    background-color: #ff00f2;
    align-self: flex-start;
}

.circulo2 {
    background-color: #5500ff;
    
}

.circulo3 {
    align-self: flex-end;
    background-color: #ff0044;
}
